@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Raleway", sans-serif;
  }
}

/* @layer components {
  .education::before {
    content:'';
    position: absolute;
    left:-9px;
    background:rgb(219, 213, 213);
    top:5%;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border:2px solid rgb(219, 213, 213);
  
  }
} */